# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media/

# Django static files
staticfiles/

# PyCharm
.idea/

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Other
*.swp
